<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
            <style>
                body {
                    padding-top: 55px;
                    padding-bottom: 55px;
                }
            </style>
        {% endblock %}
    </head>
    <body>
        <h>Sergio's sexy base </h>
        
         
    </body>
     <div class="container">
            {% block body %}{% endblock %}
    </div>
</html>